.container {
  height: calc(100vh - 64px - 65px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5e5f7;
  opacity: 1;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 10px ), repeating-linear-gradient( #444cf755, #444cf7 );
  .info {
    text-align: center;
    button {
      height: 60px;
      font-size: 24px;
    }
  }
}
